:root {
   --animationColor-start: blue;
   --animationColor-end: green;

  }

/*let's leave no margin/padding between section so you can't see a "box" at each section */

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #F7F7F7;
  font-family: Comfortaa, Oswald, Lobster, Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}


/************ BEGINNING OF NAVIGATION *********/
nav {
  display: flex;
  justify-content: flex-end;
  background: #F7F7F7;
  position: sticky;
  top: 0;
}

nav h4 {
  padding:0px 24px 10px 24px;
  margin-top: 8px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
      color: #0000BD;
      cursor: pointer;

}

@media (max-width: 450px) {
  nav {
   justify-content: space-around;
  }
  }

@media (max-width: 350px) {
  nav {
    align-items: center;
    flex-direction: column;

  }
}

/*********** END OF NAVIGATION STUFF*********/

.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.welcome-section h1 {
  margin: 0;
}

.welcome-section h4 {
  color: #008000;
  animation: aWebDeveloper 3s 5;
  margin-top: 20px;
}

@keyframes aWebDeveloper {
    from {color: var(--animationColor-start, blue);}
    to {color: var(--animationColor-end, green);}
}

:global #work {
  background-color: white;
}

.projects {
  background-color: white;
}

.projects h1 {
  text-align: center;
  margin-bottom: 24px;
  padding-top: 24px;
}

.projects h3 {
  text-align: center;
  margin-bottom: 18px;
  padding-top: 18px;
}

.projects h4 {
  text-align: center;
  padding-top: 0px;
}

.projects p {
  text-align: center;
  margin-bottom: 48px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.projectContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.projects a {
  display:block; /*required to make entire box clickable*/
  text-decoration: none;
  color: #008000;
}

#contact {
  background: #C2FFC2;
}

#contact h1 {
  text-align: center;
  padding-top: 28px;
  margin-bottom: 12px;
}

#contact h4 {
  text-align: center;
  margin-bottom: 48px;
}

.contactContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-title {
  width: 18%;
  min-width: 120px;
  margin-bottom: 48px;
}

.circle {
  width: 100px;
  height: 100px;
  border: 2px solid #66FB88;
  background-color: transparent;
  border-radius: 100px;
  background: #F7F7F7;
  display: flex;
  }

.circle a {
  display:block;
  text-align: center;
  width: 100%;
  margin: 0;
  padding-top: 41%; /* if I used align-items:center, the div doesn't become clickable */
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.circle a:hover {
      background-color: #97FCAE;
      color: black;
      border-radius: 100px;
      font-size:16px;
      font-weight: 900;
      cursor: pointer;
}

footer {
  background-color: #4D4DFE;
}

footer p {
  padding: 24px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  text-align: center;
}


/* ***************************NOT USED************
typewriter effect
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation
  border-right: .15em solid orange; /* The typwriter cursor
  white-space: nowrap; /* Keeps the content on a single line
  margin: 0 auto; /* Gives that scrolling effect as the typing happens
  letter-spacing: .15em; /* Adjust as needed
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/*The typing effect
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
*/

/* The typewriter cursor effect
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
*/
