.contact-title {
  width: 120px;
  margin-bottom: 48px;
}

.circle {
  width: 100px;
  height: 100px;
  border: 2px solid #66FB88;
  background-color: transparent;
  border-radius: 100px;
  background: #F7F7F7;
  display: flex;
  }

.circle a {
  display:block;
  text-align: center;
  width: 100%;
  margin: 0;
  padding-top: 38%; /* if I used align-items:center, the div doesn't become clickable */
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}



@media (hover:hover) {
  .circle a:hover {
        background-color: #97FCAE;
        color: black;
        border-radius: 100px;
        font-size:16px;
        font-weight: 900;
        cursor: pointer;
  }
}
